{% extends 'base.html' %}
{% block title %}Edit Employee{% endblock %}
{% block page_title %}Edit Employee{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card-box p-4 shadow-sm rounded border">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mt-3 d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <a href="{% url 'employee_list' %}" class="btn btn-outline-secondary">
                        <i class="fas fa-times"></i> Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
